@inherits LayoutComponentBase
<FluentDesignTheme @bind-Mode="@Mode"
                   OfficeColor="@OfficeColor"
                   OfficeColorChanged="@(e => { OfficeColor = e ?? OfficeColor.Default; StateHasChanged(); })"
                   StorageName="theme" />

<FluentLayout Class="maximize">
    <FluentHeader Class="siteheader">
        <FluentGrid>
            <FluentGridItem xs="6">
                BlazorPong - Macellaio94
            </FluentGridItem>

            <FluentGridItem xs="3">
                <FluentStack VerticalAlignment="@(VerticalAlignment.Center)">
                    <FluentIcon Value="@(new Icons.Filled.Size20.DarkTheme())"
                                Color="Color.Custom"
                                CustomColor="default" />
                    <FluentSelect Items="@(Enum.GetValues<DesignThemeModes>())"
                                  @bind-SelectedOption="@Mode" />
                </FluentStack>
            </FluentGridItem>

            <FluentGridItem xs="3">
                <FluentStack VerticalAlignment="@(VerticalAlignment.Center)">
                    <FluentIcon Value="@(new Icons.Filled.Size20.Color())"
                                Color="Color.Custom"
                                CustomColor="default" />
                    <FluentSelect Items="@(Enum.GetValues<OfficeColor>())"
                                  Height="200px"
                                  @bind-SelectedOption="@OfficeColor">
                        <OptionTemplate>
                            <FluentStack>
                                <FluentIcon Value="@(new Icons.Filled.Size20.RectangleLandscape())"
                                            Color="Color.Custom"
                                            CustomColor="@context.ToAttributeValue()" />
                                <FluentLabel>@context</FluentLabel>
                                </FluentStack>
                            </OptionTemplate>
                        </FluentSelect>
                    </FluentStack>

                </FluentGridItem>
            </FluentGrid>
        </FluentHeader>
        <FluentStack Class="main maximize" Orientation="Orientation.Horizontal" Width="100%">
            <NavMenu />
            <FluentBodyContent Class="maximize">
                <ErrorBoundary>
                    <ChildContent>
                    <div class="content maximize">
                        @Body
                    </div>
                </ChildContent>
                <ErrorContent Context="ex">
                    <div class="blazor-error-boundary">@ex.ToString()</div>
                </ErrorContent>
            </ErrorBoundary>
        </FluentBodyContent>
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <a href="https://www.fluentui-blazor.net" target="_blank">Documentation and demos</a>
        </div>
        <div class="link2">
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">About Blazor</a>
        </div>
    </FluentFooter>
</FluentLayout>

@code
{
    public DesignThemeModes Mode { get; set; }

    public OfficeColor OfficeColor { get; set; }
}